/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Space Gratesk L";
  src: url("/fonts/SpaceGrotesk-Light.ttf");
}
@font-face {
  font-family: "Space Gratesk R";
  src: url("/fonts/SpaceGrotesk-Regular.ttf");
}
@font-face {
  font-family: "Space Gratesk M";
  src: url("/fonts/SpaceGrotesk-Medium.ttf");
}
@font-face {
  font-family: "Space Gratesk SB";
  src: url("/fonts/SpaceGrotesk-SemiBold.ttf");
}
@font-face {
  font-family: "Space Gratesk B";
  src: url("/fonts/SpaceGrotesk-Bold.ttf");
}
h2 {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: rgb(185, 255, 102);
  margin-right: 40px;
}

p {
  width: 580px;
}

h1 {
  font-size: 60px;
  font-family: "Space Gratesk M";
  line-height: 76px;
}

h2 {
  font-size: 40px;
  font-family: "Space Gratesk M";
}

h3 {
  font-size: 30px;
  font-family: "Space Gratesk M";
}

h4 {
  font-size: 20px;
  font-family: "Space Gratesk M";
}

p {
  font-size: 18px;
  font-family: "Space Gratesk R";
  line-height: 130%;
}

body {
  font-family: "Space Gratesk R";
  font-size: 20px;
}

button {
  padding: 20px 76px;
  font-family: "Space Gratesk R";
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 14px;
  background-color: rgb(25, 26, 35);
  transition: 0.3s;
  cursor: pointer;
}
button:hover {
  background-color: rgb(41, 42, 50);
  scale: 0.98;
}
button:hover span {
  color: rgb(185, 255, 102);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(0rem, 3.097vw - 0.716rem, 3rem);
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.856);
  z-index: 9;
  padding-bottom: 8px;
  backdrop-filter: blur(12px);
  border-bottom: 2px rgba(255, 255, 255, 0.4) solid;
}
header .header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  align-items: center;
  width: 1234px;
}
header .header__wrapper nav .header__menu {
  display: flex;
  align-items: baseline;
  gap: clamp(1.25rem, 1.29vw + 0.952rem, 2.5rem);
}
header .header__wrapper nav .header__menu li {
  position: relative;
  z-index: 3;
  transition: 0.3s;
}
header .header__wrapper nav .header__menu li::before {
  content: "";
  height: 40px;
  width: calc(100% + 28px);
  top: -10px;
  left: -14px;
  background-color: rgb(185, 255, 102);
  position: absolute;
  z-index: -1;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
header .header__wrapper nav .header__menu li:hover {
  scale: 0.95;
}
header .header__wrapper nav .header__menu li:hover::before {
  opacity: 1;
}
header .header__wrapper nav .header__menu li:last-child {
  padding: 20px 35px;
  border: 2px solid rgb(25, 26, 35);
  border-radius: 14px;
  cursor: pointer;
}
header .header__wrapper nav .header__menu li:last-child::before {
  content: none;
}
header .header__wrapper nav .header__menu li:last-child:hover {
  background-color: rgb(25, 26, 35);
  scale: 0.98;
}
header .header__wrapper nav .header__menu li:last-child:hover a {
  color: white;
}
header .header__wrapper nav .header__menu a {
  color: rgb(41, 42, 50);
  text-decoration: none;
  white-space: nowrap;
}
header .header__wrapper nav .toggle__menu {
  display: none;
}
header .header__wrapper nav .toggle__menu .toggle__checkbox {
  width: 36px;
  height: 36px;
  position: absolute;
  opacity: 0;
  z-index: 99;
}
header .header__wrapper nav .toggle__menu .toggle__checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 transparent;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
header .header__wrapper nav .toggle__menu .toggle__checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
header .header__wrapper nav .toggle__menu .toggle__checkbox:checked:checked ~ .header__menu--toggle {
  transform: translateX(0);
}
header .header__wrapper nav .toggle__menu .burger {
  width: 36px;
  height: 26px;
  position: relative;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 3px;
  z-index: 1;
  scale: 1;
}
header .header__wrapper nav .toggle__menu .burger::after, header .header__wrapper nav .toggle__menu .burger::before {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: rgb(25, 26, 35);
}
header .header__wrapper nav .toggle__menu .burger::before {
  top: 0;
  box-shadow: 0 11px 0 rgb(25, 26, 35);
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
header .header__wrapper nav .toggle__menu .burger::after {
  bottom: 0;
  transition: 0.3s 0.15s, bottom transform 0.3s;
}
header .header__wrapper nav .toggle__menu .header__menu--toggle {
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - clamp(0rem, 5.974vw - 1.381rem, 2.875rem));
  background-color: white;
  transform: translateX(100%);
  transition: 0.3s;
}
header .header__wrapper nav .toggle__menu .header__menu--toggle .toggle__list {
  display: grid;
  gap: 38px;
}
header .header__wrapper nav .toggle__menu .header__menu--toggle .toggle__list li {
  margin-left: 4px;
}
header .header__wrapper nav .toggle__menu .header__menu--toggle .toggle__list li a {
  text-decoration: none;
  color: rgb(25, 26, 35);
  font-size: 32px;
}
header .header__wrapper nav .toggle__menu .header__menu--toggle .toggle__list li:last-child {
  margin-left: 0;
  margin-top: 20px;
  padding: 20px 30px;
  border: 2px solid rgb(25, 26, 35);
  border-radius: 14px;
}
header .header__wrapper nav .toggle__menu .header__menu--toggle .toggle__list li:last-child a {
  font-size: 16px;
}

.brand__message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}
.brand__message .brand__message__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1234px;
}
.brand__message .brand__message__wrapper aside h1 {
  width: 532px;
  margin-bottom: 36px;
}
.brand__message .brand__message__wrapper aside img {
  display: none;
}
.brand__message .brand__message__wrapper aside p {
  width: 498px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 36px;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 140px;
}
.partners .partners__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1234px;
}
.partners .partners__wrapper img {
  filter: grayscale(1);
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}
.services .services__wrapper {
  width: 1234px;
}
.services .services__wrapper .services__title {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.services .services__wrapper .services__cards__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 100px;
}
.services .services__wrapper .services__cards__wrapper .services__card {
  padding: 50px;
  background-color: rgb(243, 243, 243);
  border: rgb(25, 26, 35) solid 2px;
  border-radius: 45px;
  background-repeat: no-repeat;
  background-position: 88% center;
  background-size: 210px 170px;
  box-shadow: 0px 4px 0px 0px rgb(25, 26, 35);
  transition: 0.3s;
}
.services .services__wrapper .services__cards__wrapper .services__card:hover {
  transform: rotate(-1deg);
  scale: 1.02;
}
.services .services__wrapper .services__cards__wrapper .services__card h3 {
  line-height: 134%;
  margin-bottom: 94px;
}
.services .services__wrapper .services__cards__wrapper .services__card h3 span {
  background-color: rgb(185, 255, 102);
  padding: 0 8px;
  border-radius: 8px;
  padding: 2px 8px;
}
.services .services__wrapper .services__cards__wrapper .services__card section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.services .services__wrapper .services__cards__wrapper .services__card section a {
  font-size: 20px;
  margin-left: 16px;
  text-decoration: none;
  color: rgb(25, 26, 35);
}
.services .services__wrapper .services__cards__wrapper .services__card section:hover {
  opacity: 0.7;
}
.services .services__wrapper .services__cards__wrapper .services__card:nth-child(2), .services .services__wrapper .services__cards__wrapper .services__card:nth-child(5) {
  background-color: rgb(185, 255, 102);
}
.services .services__wrapper .services__cards__wrapper .services__card:nth-child(2) h3 span, .services .services__wrapper .services__cards__wrapper .services__card:nth-child(5) h3 span {
  background-color: white;
}
.services .services__wrapper .services__cards__wrapper .services__card:nth-child(3), .services .services__wrapper .services__cards__wrapper .services__card:nth-child(6) {
  background-color: rgb(25, 26, 35);
}
.services .services__wrapper .services__cards__wrapper .services__card:nth-child(3) a, .services .services__wrapper .services__cards__wrapper .services__card:nth-child(6) a {
  color: white;
}
.services .services__wrapper .services__cards__wrapper .services__card:nth-child(3) h3 span {
  background-color: white;
}
.services .services__wrapper .services__cards__wrapper .services__card:nth-child(1) {
  background-image: url(/img/card_01_img.png);
}
.services .services__wrapper .services__cards__wrapper .services__card:nth-child(2) {
  background-image: url(/img/card_02_img.png.png);
}
.services .services__wrapper .services__cards__wrapper .services__card:nth-child(3) {
  background-image: url(/img/card_03_img.png.png);
}
.services .services__wrapper .services__cards__wrapper .services__card:nth-child(4) {
  background-image: url(/img/card_04_img.png.png);
}
.services .services__wrapper .services__cards__wrapper .services__card:nth-child(5) {
  background-image: url(/img/card_05_img.png.png);
}
.services .services__wrapper .services__cards__wrapper .services__card:nth-child(6) {
  background-image: url(/img/card_06_img.png.png);
}
.services .services__wrapper .services__proposal {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 45px;
  background-color: rgb(243, 243, 243);
}
.services .services__wrapper .services__proposal .services__proposal__title {
  padding: 60px;
}
.services .services__wrapper .services__proposal .services__proposal__title h3 {
  margin-bottom: 26px;
}
.services .services__wrapper .services__proposal .services__proposal__title p {
  line-height: 130%;
  width: 500px;
  margin-bottom: 26px;
}
.services .services__wrapper .services__proposal img {
  position: absolute;
  right: 0;
}

.studies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}
.studies .studies__wrapper {
  width: 1234px;
}
.studies .studies__wrapper .studies__title {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.studies .studies__wrapper .studies__examples {
  display: flex;
  padding: 70px;
  background-color: rgb(25, 26, 35);
  border-radius: 45px;
}
.studies .studies__wrapper .studies__examples .studies__example {
  padding: 0 64px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.studies .studies__wrapper .studies__examples .studies__example p {
  width: 286px;
  color: white;
  font-size: 18px;
  margin-bottom: 26px;
}
.studies .studies__wrapper .studies__examples .studies__example:first-child {
  padding-left: 0;
}
.studies .studies__wrapper .studies__examples .studies__example:last-child {
  border-right: none;
  padding-right: 0;
}
.studies .studies__wrapper .studies__examples .studies__example section {
  margin-top: auto;
  display: flex;
  align-items: center;
}
.studies .studies__wrapper .studies__examples .studies__example section a {
  color: rgb(185, 255, 102);
  text-decoration: none;
  margin-right: 16px;
}
.studies .studies__wrapper .studies__examples .studies__example section:hover {
  opacity: 0.7;
  cursor: pointer;
}

.process {
  display: flex;
  justify-content: center;
  align-items: center;
}
.process .process__wrapper {
  width: 1234px;
}
.process .process__wrapper .process__title {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.process .process__wrapper .process__title p {
  width: 292px;
}
.process .process__wrapper .process__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.process .process__wrapper .process__cards .process__card {
  background-color: rgb(243, 243, 243);
  border: rgb(25, 26, 35) solid 2px;
  border-radius: 45px;
  box-shadow: 0px 4px 0px 0px rgb(25, 26, 35);
  padding: 40px 60px;
  transition: 0.3s;
}
.process .process__wrapper .process__cards .process__card:has(input:checked) {
  background-color: rgb(185, 255, 102);
}
.process .process__wrapper .process__cards .process__card:has(input:checked) p {
  display: block;
}
.process .process__wrapper .process__cards .process__card:has(input:checked):hover h1,
.process .process__wrapper .process__cards .process__card:has(input:checked):hover h3 {
  color: rgb(25, 26, 35);
}
.process .process__wrapper .process__cards .process__card .process__title__card {
  display: flex;
  align-items: center;
  position: relative;
}
.process .process__wrapper .process__cards .process__card .process__title__card h1 {
  margin-right: 20px;
}
.process .process__wrapper .process__cards .process__card .process__title__card h3 {
  white-space: nowrap;
}
.process .process__wrapper .process__cards .process__card .process__title__card .checkbox__card {
  margin-left: auto;
  width: 58px;
  height: 58px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
.process .process__wrapper .process__cards .process__card .process__title__card .checkbox__card:checked + .card__open::after {
  transform: rotate(0deg);
}
.process .process__wrapper .process__cards .process__card .process__title__card .card__open {
  width: 58px;
  height: 58px;
  background-color: white;
  border-radius: 29px;
  border: 1px solid rgb(25, 26, 35);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  right: 0;
}
.process .process__wrapper .process__cards .process__card .process__title__card .card__open::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 5px;
  background-color: rgb(25, 26, 35);
}
.process .process__wrapper .process__cards .process__card .process__title__card .card__open::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 5px;
  background-color: rgb(25, 26, 35);
  transform: rotate(90deg);
  transition: 0.3s;
}
.process .process__wrapper .process__cards .process__card p {
  display: none;
  padding-top: 30px;
  margin-top: 20px;
  border-top: 2px solid rgb(25, 26, 35);
}
.process .process__wrapper .process__cards .process__card:hover {
  background-color: rgb(41, 42, 50);
}
.process .process__wrapper .process__cards .process__card:hover h1,
.process .process__wrapper .process__cards .process__card:hover h3 {
  color: white;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.team .team__wrapper {
  display: grid;
  width: 1234px;
  margin-top: 140px;
}
.team .team__wrapper .team__title {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.team .team__wrapper .team__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}
.team .team__wrapper .team__cards .team__card {
  border-radius: 45px;
  border: 1px solid rgb(25, 26, 35);
  padding: 35px 40px;
  box-shadow: 0px 4px 0px 0px rgb(25, 26, 35);
  transition: 0.3s;
  cursor: pointer;
}
.team .team__wrapper .team__cards .team__card:hover {
  background-color: rgb(185, 255, 102);
  scale: 0.98;
}
.team .team__wrapper .team__cards .team__card .team__card__title {
  display: flex;
  position: relative;
  padding-bottom: 28px;
  margin-bottom: 28px;
  border-bottom: 1px solid rgb(25, 26, 35);
}
.team .team__wrapper .team__cards .team__card .team__card__title .team__avatar {
  width: 102px;
  height: 102px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}
.team .team__wrapper .team__cards .team__card .team__card__title img {
  position: absolute;
  right: 0;
  top: 0;
}
.team .team__wrapper .team__cards .team__card .team__card__title .team__title__wrapper {
  margin-top: auto;
}
.team .team__wrapper .team__cards .team__card .team__card__title .team__title__wrapper h4 {
  margin-bottom: 4px;
  white-space: nowrap;
}
.team .team__wrapper .team__cards .team__card .team__card__title .team__title__wrapper .title__position {
  white-space: nowrap;
}
.team .team__wrapper .team__cards .team__card .team__card__title .profile01 {
  background-image: url(/img/avatar_01.png);
}
.team .team__wrapper .team__cards .team__card .team__card__title .profile02 {
  background-image: url(/img/avatar_02.png);
}
.team .team__wrapper .team__cards .team__card .team__card__title .profile03 {
  background-image: url(/img/avatar_03.png);
}
.team .team__wrapper .team__cards .team__card .team__card__title .profile04 {
  background-image: url(/img/avatar_04.png);
}
.team .team__wrapper .team__cards .team__card .team__card__title .profile05 {
  background-image: url(/img/avatar_05.png);
}
.team .team__wrapper .team__cards .team__card .team__card__title .profile06 {
  background-image: url(/img/avatar_06.png);
}
.team .team__wrapper button {
  justify-self: end;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}
.testimonials .testimonials__wrapper {
  width: 1234px;
}
.testimonials .testimonials__wrapper .testimonials__title {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.testimonials .testimonials__wrapper .testimonials__window {
  width: 100%;
  height: 625px;
  display: flex;
  flex-direction: column;
  background-color: rgb(25, 26, 35);
  border-radius: 45px;
  padding-top: 84px;
  box-sizing: border-box;
}
.testimonials .testimonials__wrapper .testimonials__window .testimonials__slider {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  box-sizing: border-box;
  overflow: hidden;
}
.testimonials .testimonials__wrapper .testimonials__window .testimonials__slider .testimonial__item .testimonial__item__wrapper {
  justify-content: center;
}
.testimonials .testimonials__wrapper .testimonials__window .testimonials__slider .testimonial__item .testimonial__item__wrapper .testimonial__descr {
  border: solid rgb(185, 255, 102) 1px;
  padding: 52px 48px;
  border-radius: 45px;
}
.testimonials .testimonials__wrapper .testimonials__window .testimonials__slider .testimonial__item .testimonial__item__wrapper .testimonial__descr p {
  color: white;
  font-size: 18px;
  width: 502px;
  line-height: 134%;
}
.testimonials .testimonials__wrapper .testimonials__window .testimonials__slider .testimonial__item .tooltip {
  width: 0;
  height: 0;
  border: 34px solid transparent;
  border-top: 32px solid rgb(185, 255, 102);
  margin-left: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials .testimonials__wrapper .testimonials__window .testimonials__slider .testimonial__item .tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 34px solid transparent;
  border-top: 32px solid rgb(25, 26, 35);
  transform: translateY(-1px);
}
.testimonials .testimonials__wrapper .testimonials__window .testimonials__slider .testimonial__item h4 {
  color: rgb(185, 255, 102);
  margin-left: 80px;
  transform: translateY(-5px);
}
.testimonials .testimonials__wrapper .testimonials__window .testimonials__slider .testimonial__item .profile__position {
  color: white;
  margin-left: 80px;
}
.testimonials .testimonials__wrapper .testimonials__window .navigation__slider__wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 68px;
  width: 564px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
.testimonials .testimonials__wrapper .testimonials__window .navigation__slider__wrapper .btn__previous {
  background: url(/img/slider-nav-arrow.svg) no-repeat center;
  background-size: contain;
  width: 24px;
  transform: rotate(180deg);
}
.testimonials .testimonials__wrapper .testimonials__window .navigation__slider__wrapper .navigation__slider__position {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.testimonials .testimonials__wrapper .testimonials__window .navigation__slider__wrapper .navigation__slider__position .item__slider__position {
  background: url(/img/slider-item.svg) no-repeat center;
  background-size: contain;
  width: 14px;
}
.testimonials .testimonials__wrapper .testimonials__window .navigation__slider__wrapper .navigation__slider__position .item__slider__position:hover {
  opacity: 0.7;
  cursor: pointer;
  scale: 0.9;
}
.testimonials .testimonials__wrapper .testimonials__window .navigation__slider__wrapper .navigation__slider__position .item__slider__position:hover:nth-child(1) {
  opacity: 1;
  cursor: default;
  scale: 1;
}
.testimonials .testimonials__wrapper .testimonials__window .navigation__slider__wrapper .navigation__slider__position .position--selected {
  background: url(/img/slider-item-selected.svg) no-repeat center;
}
.testimonials .testimonials__wrapper .testimonials__window .navigation__slider__wrapper .btn__next {
  background: url(/img/slider-nav-arrow.svg) no-repeat center;
  background-size: contain;
  width: 24px;
}
.testimonials .testimonials__wrapper .testimonials__window .navigation__slider__wrapper .btn__next:hover {
  opacity: 0.8;
  cursor: pointer;
  scale: 0.9;
}
.testimonials .testimonials__wrapper .testimonials__window .navigation__slider__wrapper .position--min-max {
  opacity: 0.3;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}
.contact .contact__wrapper {
  width: 1234px;
}
.contact .contact__wrapper .contact__title {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.contact .contact__wrapper .contact__form {
  background-color: rgb(243, 243, 243);
  border-radius: 45px;
  background-image: url(/img/Illustration_02.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.contact .contact__wrapper .contact__form form {
  display: flex;
  flex-direction: column;
  width: 556px;
  padding: 50px 100px;
}
.contact .contact__wrapper .contact__form form .form__radio__wrapper {
  display: flex;
  gap: 34px;
  margin-bottom: 40px;
}
.contact .contact__wrapper .contact__form form .form__radio__wrapper .radio__button {
  display: flex;
  align-items: center;
}
.contact .contact__wrapper .contact__form form .form__radio__wrapper .radio__button .radio {
  width: 28px;
  height: 28px;
  appearance: none;
  background-color: #fff;
  border-radius: 50%;
  margin: 0;
  font: inherit;
  color: currentColor;
  border: 1px solid rgb(25, 26, 35);
  display: grid;
  place-content: center;
}
.contact .contact__wrapper .contact__form form .form__radio__wrapper .radio__button .radio::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(185, 255, 102);
  transform: scale(0);
  transition: 160ms transform ease-in-out;
}
.contact .contact__wrapper .contact__form form .form__radio__wrapper .radio__button .radio:checked::before {
  transform: scale(1);
}
.contact .contact__wrapper .contact__form form .form__radio__wrapper .radio__button label {
  margin-left: 14px;
}
.contact .contact__wrapper .contact__form form .form__title {
  margin-bottom: 8px;
  font-size: 16px;
}
.contact .contact__wrapper .contact__form form .form__text__input {
  height: 60px;
  border-radius: 14px;
  border: 1px solid rgb(25, 26, 35);
  margin-bottom: 24px;
  padding-left: 30px;
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Space Gratesk R";
}
.contact .contact__wrapper .contact__form form .form__text__input::placeholder {
  color: rgb(137, 137, 137);
}
.contact .contact__wrapper .contact__form form textarea {
  resize: none;
  height: 190px;
  border-radius: 14px;
  border: 1px solid rgb(25, 26, 35);
  margin-bottom: 40px;
  padding: 18px 30px;
  font-size: 18px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer {
  width: 1234px;
  padding: 55px 60px;
  padding-bottom: 0;
  box-sizing: border-box;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: rgb(25, 26, 35);
  color: white;
}
footer .footer .footer__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .footer__header .footer__logo {
  background-image: url(/img/brand_logo_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 180px;
  height: 29px;
}
footer .footer .footer__header .footer__menu {
  display: flex;
  gap: 40px;
}
footer .footer .footer__header .footer__menu li a {
  font-size: 18px;
  color: white;
  text-decoration: underline;
  transition: 0.3s;
}
footer .footer .footer__header .footer__menu li a:hover {
  text-decoration: none;
  opacity: 0.8;
}
footer .footer .footer__header .footer__wrapper__socials {
  display: flex;
  gap: 20px;
}
footer .footer .footer__header .footer__wrapper__socials .social__portal {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  cursor: pointer;
}
footer .footer .footer__header .footer__wrapper__socials .social__portal:hover {
  opacity: 0.8;
}
footer .footer .footer__header .footer__wrapper__socials .linkedin {
  background-image: url(/img/linkedin_social_icon.svg);
}
footer .footer .footer__header .footer__wrapper__socials .facebook {
  background-image: url(/img/facebook_social_icon.svg);
}
footer .footer .footer__header .footer__wrapper__socials .twiter {
  background-image: url(/img/twiter_social_icon.svg);
}
footer .footer .footer__main {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 50px;
  margin-top: 96px;
  border-bottom: 1px solid white;
}
footer .footer .footer__main .footer__contact__descr h4 {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 8px;
  color: rgb(25, 26, 35);
  background-color: rgb(185, 255, 102);
  margin-bottom: 28px;
}
footer .footer .footer__main .footer__contact__descr p {
  margin-bottom: 20px;
}
footer .footer .footer__main .footer__contact__descr p:last-child {
  margin-bottom: 0;
}
footer .footer .footer__main form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(41, 42, 50);
  padding: 0 40px;
  border-radius: 14px;
}
footer .footer .footer__main form input,
footer .footer .footer__main form button {
  justify-self: flex-start;
}
footer .footer .footer__main form input {
  width: 285px;
  height: 64px;
  border-radius: 14px;
  background-color: transparent;
  border: 1px solid white;
  padding-left: 36px;
  font-size: 18px;
  font-family: "Space Gratesk R";
  color: white;
}
footer .footer .footer__main form input::placeholder {
  color: white;
}
footer .footer .footer__main form button {
  padding: 20px 35px;
  background-color: rgb(185, 255, 102);
  color: rgb(25, 26, 35);
}
footer .footer .footer__main form button:hover {
  background-color: rgb(25, 26, 35);
  border: 1px solid rgb(185, 255, 102);
}
footer .footer .footer__rights {
  display: flex;
  gap: 40px;
  margin: 50px 0;
  font-size: 18px;
}
footer .footer .footer__rights a {
  text-decoration: underline;
  cursor: pointer;
}
footer .footer .footer__rights a:hover {
  text-decoration: none;
  opacity: 0.8;
}

@media (max-width: 1274px) {
  header .header__wrapper {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 1140px) {
  header .header__wrapper img {
    width: clamp(9rem, 4.903vw + 7.866rem, 13.75rem);
  }
  header .header__wrapper nav .header__menu {
    display: none;
  }
  header .header__wrapper nav .toggle__menu {
    display: block;
  }
}
@media (max-width: 768px) {
  header .header__wrapper nav .toggle__menu .burger {
    scale: 0.85;
  }
}
@media (max-width: 425px) {
  header .header__wrapper nav .toggle__menu .burger {
    scale: 0.7;
  }
}