@font-face {
    font-family: 'Space Gratesk L';
    src: url('/fonts/SpaceGrotesk-Light.ttf');
}

@font-face {
    font-family: 'Space Gratesk R';
    src: url('/fonts/SpaceGrotesk-Regular.ttf');
}

@font-face {
    font-family: 'Space Gratesk M';
    src: url('/fonts/SpaceGrotesk-Medium.ttf');
}

@font-face {
    font-family: 'Space Gratesk SB';
    src: url('/fonts/SpaceGrotesk-SemiBold.ttf');
}

@font-face {
    font-family: 'Space Gratesk B';
    src: url('/fonts/SpaceGrotesk-Bold.ttf');
}