@import '_reset';
@import '_fonts';


$brandFont-L: 'Space Gratesk L';
$brandFont-R: 'Space Gratesk R';
$brandFont-M: 'Space Gratesk M';

$brandColor-Black       : rgb(25, 26, 35);
$brandColor-Black--hover: rgb(25, 26, 35);
$brandColor-DarkGrey    : rgb(41, 42, 50);
$brandColor-LightGrey   : rgb(243, 243, 243);
$brandColor-Green       : rgb(185, 255, 102);

$mainWrapper-width-web   : 1234px;
$mainWrapper-width-mobile: 100%;


//---------------------------------------------


@mixin mobile-wrapper {
    width  : 100%;
    padding: 0 20px;
}


@mixin flex-center {
    display        : flex;
    justify-content: center;
    align-items    : center;
}


@mixin flex-space-between {
    display        : flex;
    justify-content: space-between;
}


@mixin title-layout {
    display      : flex;
    align-items  : center;
    margin-bottom: clamp(2.5rem, 5.229vw + 1.275rem, 5rem);

    span {
        padding: 0;
    }

    h2 {
        padding         : 8px 12px;
        border-radius   : 8px;
        background-color: $brandColor-Green;
        margin-right    : 40px;
    }

    p {
        width: 580px;
    }
}


@mixin title-layout-mobile {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin-bottom : clamp(2.5rem, 5.229vw + 1.275rem, 5rem);

    h2 {
        padding         : 8px 12px;
        border-radius   : 8px;
        background-color: $brandColor-Green;
        margin-right    : 0;
        margin-bottom   : 30px;
        text-align      : center;
    }

    p {
        text-align : center;
        width      : clamp(20.938rem, 32.026vw + 13.431rem, 36.25rem);
        line-height: 140%;
    }
}


@mixin title-layout-mobile-span {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin-bottom : clamp(2.5rem, 5.229vw + 1.275rem, 5rem);

    h2 {
        display      : grid;
        justify-items: center;

        margin-right    : 0;
        margin-bottom   : 30px;
        text-align      : center;
        background-color: transparent;
        line-height     : 150%;
        white-space     : wrap;
    }

    span {
        padding         : 4px 12px;
        border-radius   : 8px;
        background-color: $brandColor-Green;

    }

    p {
        text-align : center;
        width      : clamp(20.938rem, 32.026vw + 13.431rem, 36.25rem);
        line-height: 140%;
    }
}


//---------------------------------------------


html {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    font-family: $brandFont-R;
    font-size  : 20px;

    &:has(.toggle__checkbox:checked) {
        overflow: hidden;
    }
}

h1 {
    font-size  : clamp(2.25rem, 1.5147rem + 3.1373vw, 3.75rem);
    font-family: $brandFont-M;
    line-height: 130%;
}


h2 {
    font-size  : clamp(2.25rem, 2.1275rem + 0.5229vw, 2.5rem);
    font-family: $brandFont-M;
}


h3 {
    font-size  : clamp(1.625rem, 1.5025rem + 0.5229vw, 1.875rem);
    font-family: $brandFont-M;
}


h4 {
    font-size  : clamp(1.125rem, 1.0637rem + 0.2614vw, 1.25rem);
    font-family: $brandFont-M;
}


p {
    font-size  : clamp(0.875rem, 0.8137rem + 0.2614vw, 1rem);
    font-family: $brandFont-R;
    line-height: 140%;
}


button {
    padding         : 20px 76px;
    font-family     : $brandFont-R;
    font-size       : clamp(0.9375rem, 0.7843rem + 0.6536vw, 1.25rem);
    color           : white;
    border          : none;
    border-radius   : 14px;
    background-color: $brandColor-Black;
    transition      : .3s;
    cursor          : pointer;

    &:hover {
        background-color: $brandColor-DarkGrey;
        scale           : 0.98;

        span {
            color      : $brandColor-Green;
            white-space: nowrap;
        }
    }
}


//---------------------------------------------



header {
    @include flex-center;
    margin-top      : clamp(0rem, 3.097vw - 0.716rem, 3rem);
    position        : sticky;
    top             : 0;
    background-color: rgba(255, 255, 255, 0.856);
    z-index         : 9;
    padding-bottom  : 8px;
    backdrop-filter : blur(12px);
    border-bottom   : 2px rgba(255, 255, 255, 0.4) solid;

    .header__wrapper {
        @include flex-space-between;
        margin-top : 12px;
        align-items: center;
        width      : $mainWrapper-width-web;

        img {
            z-index: 999;
        }

        nav {
            .header__menu {
                display    : flex;
                align-items: baseline;
                gap        : clamp(1.25rem, 1.29vw + 0.952rem, 2.5rem);

                li {
                    position  : relative;
                    z-index   : 3;
                    transition: .3s;

                    &::before {
                        content         : "";
                        height          : 40px;
                        width           : calc(100% + 28px);
                        top             : -10px;
                        left            : -14px;
                        background-color: $brandColor-Green;
                        position        : absolute;
                        z-index         : -1;
                        border-radius   : 8px;
                        cursor          : pointer;
                        opacity         : 0;
                        transition      : .3s ease-in-out;
                    }

                    &:hover {
                        scale: 0.95;

                        &::before {
                            opacity: 1;
                        }
                    }

                    &:last-child {
                        padding      : 20px 35px;
                        border       : 2px solid $brandColor-Black;
                        border-radius: 14px;
                        cursor       : pointer;

                        &::before {
                            content: none;
                        }

                        &:hover {
                            background-color: $brandColor-Black;
                            scale           : 0.98;

                            a {
                                color: white;
                            }
                        }
                    }
                }

                a {
                    color          : $brandColor-DarkGrey;
                    text-decoration: none;
                    white-space    : nowrap;
                }
            }

            .toggle__menu {
                display: none;

                .toggle__checkbox {
                    width   : 36px;
                    height  : 36px;
                    position: absolute;
                    opacity : 0;
                    z-index : 99;

                    &:checked+.burger::before {
                        top       : 11px;
                        transform : rotate(45deg);
                        box-shadow: 0 6px 0 transparent;
                        transition: box-shadow .15s, top .3s, transform .3s .15s;
                    }

                    &:checked+.burger::after {
                        bottom    : 11px;
                        transform : rotate(-45deg);
                        transition: bottom .3s, transform .3s .15s;
                    }

                    &:checked~.header__menu--toggle {
                        display: grid;
                    }
                }

                .burger {
                    width           : 36px;
                    height          : 26px;
                    position        : relative;
                    display         : block;
                    border          : none;
                    background-color: transparent;
                    cursor          : pointer;
                    margin-left     : 3px;
                    z-index         : 1;
                    scale           : 1;

                    &::after,
                    &::before {
                        content   : '';
                        left      : 0;
                        position  : absolute;
                        display   : block;
                        width     : 100%;
                        height    : 3px;
                        background: $brandColor-Black;
                    }

                    &::before {
                        top       : 0;
                        box-shadow: 0 11px 0 $brandColor-Black;
                        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
                    }

                    &::after {
                        bottom    : 0;
                        transition: .3s .15s, bottom transform .3s;
                    }
                }

                .header__menu--toggle {
                    display         : none;
                    place-content   : center;
                    position        : absolute;
                    top             : 0;
                    right           : 0;
                    width           : 100%;
                    height          : 100vh;
                    background-color: white;
                    transition      : .3s;

                    .toggle__list {
                        display: grid;
                        gap    : 38px;

                        li {
                            margin-left: 4px;
                            transition : .6s;

                            a {
                                text-decoration: none;
                                color          : $brandColor-Black;
                                font-size      : 32px;
                            }

                            &:last-child {
                                margin-left  : 0;
                                margin-top   : 20px;
                                padding      : 20px 30px;
                                border       : 2px solid $brandColor-Black;
                                border-radius: 14px;

                                a {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.brand__message {
    @include flex-center;
    padding: clamp(1.25rem, 6.536vw - 0.282rem, 4.375rem) 0;

    .brand__message__wrapper {
        @include flex-space-between;
        align-items: flex-start;
        flex-wrap  : wrap;
        width      : $mainWrapper-width-web;

        .brand__message__descr {
            position: relative;
            width   : 100%;

            h1 {
                width        : clamp(20.938rem, 25.621vw + 14.933rem, 33.188rem);
                margin-bottom: clamp(0.625rem, 3.66vw - 0.233rem, 2.375rem);
            }

            img {
                position: absolute;
                right   : 0;
                top     : 0;
                width   : clamp(18.75rem, 125vw - 51.563rem, 37.5rem);
            }

            p {
                width        : clamp(20.938rem, 21.307vw + 15.944rem, 31.125rem);
                font-size    : clamp(0.875rem, 0.8137rem + 0.2614vw, 1rem);
                line-height  : 140%;
                margin-bottom: 42px;
            }
        }
    }
}


.partners {
    @include flex-center;
    margin-top   : clamp(1.5rem, 2.092vw + 1.01rem, 2.5rem);
    margin-bottom: clamp(3.125rem, 11.765vw + 0.368rem, 8.75rem);

    .partners__wrapper {
        @include flex-space-between;
        align-items   : center;
        flex-direction: column;
        width         : $mainWrapper-width-web;
        overflow      : hidden;
        gap           : clamp(0rem, 2.614vw - 0.613rem, 1.25rem);

        .marquee_01 {
            width              : 100%;
            white-space        : nowrap;
            animation          : run 30s linear infinite;
            animation-direction: alternate;

            img {
                margin-right: clamp(0.5rem, 10.719vw - 2.012rem, 5.625rem);
                filter      : grayscale(1);

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .marquee_02 {
            display            : none;
            width              : 100%;
            white-space        : nowrap;
            animation          : run 30s linear infinite;
            animation-direction: alternate-reverse;

            img {
                margin-right: clamp(0.5rem, 10.719vw - 2.012rem, 5.625rem);
                filter      : grayscale(1);

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @keyframes run {
        from {
            transform: translateX(0%);
        }

        to {
            transform: translateX(-1000px);
        }
    }
}


.services {
    @include flex-center;
    margin-bottom: clamp(3.125rem, 11.765vw + 0.368rem, 8.75rem);

    .services__wrapper {
        width: $mainWrapper-width-web;

        .services__title {
            @include title-layout;
        }

        .services__cards__wrapper {
            display              : grid;
            grid-template-columns: 1fr 1fr;
            gap                  : clamp(1.25rem, 2.614vw + 0.637rem, 2.5rem);
            margin-bottom        : clamp(4.375rem, 3.922vw + 3.456rem, 6.25rem);

            .services__card {
                padding            : clamp(1.563rem, 3.268vw + 0.797rem, 3.125rem);
                background-color   : $brandColor-LightGrey;
                border             : $brandColor-Black solid 2px;
                border-radius      : 45px;
                background-repeat  : no-repeat;
                background-position: 88% center;
                background-size    : clamp(10.125rem, 28.916vw - 7.477rem, 13.125rem);
                box-shadow         : 0px 4px 0px 0px $brandColor-Black;
                transition         : .3s;

                &:hover {
                    transform: rotate(-1deg);
                    scale    : 1.02;
                }

                h3 {
                    line-height  : 134%;
                    margin-bottom: 94px;

                    span {
                        background-color: $brandColor-Green;
                        padding         : 0 8px;
                        border-radius   : 8px;
                        padding         : 2px 8px;
                    }
                }

                div {
                    display    : flex;
                    align-items: center;
                    cursor     : pointer;

                    a {
                        font-size      : 20px;
                        margin-left    : 16px;
                        text-decoration: none;
                        color          : $brandColor-Black;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }

                &:nth-child(2),
                &:nth-child(5) {
                    background-color: $brandColor-Green;

                    h3 {
                        span {
                            background-color: white;
                        }
                    }
                }

                &:nth-child(3),
                &:nth-child(6) {
                    background-color: $brandColor-Black;

                    a {
                        color: white;
                    }
                }

                &:nth-child(3) {
                    h3 {
                        span {
                            background-color: white;
                        }
                    }
                }

                &:nth-child(1) {
                    background-image: url(/positivus/img/card_01_img.png);
                }

                &:nth-child(2) {
                    background-image: url(/positivus/img/card_02_img.png.png);
                }

                &:nth-child(3) {
                    background-image: url(/positivus/img/card_03_img.png.png);
                }

                &:nth-child(4) {
                    background-image: url(/positivus/img/card_04_img.png.png);
                }

                &:nth-child(5) {
                    background-image: url(/positivus/img/card_05_img.png.png);
                }

                &:nth-child(6) {
                    background-image: url(/positivus/img/card_06_img.png.png);
                }
            }
        }

        .services__proposal {
            position        : relative;
            display         : flex;
            align-items     : center;
            border-radius   : 45px;
            background-color: $brandColor-LightGrey;

            .services__proposal__title {
                padding: clamp(1.563rem, 3.268vw + 0.797rem, 3.125rem);

                h3 {
                    margin-bottom: clamp(1.25rem, 0.784vw + 1.066rem, 1.625rem);
                    width        : clamp(17.5rem, 28.758vw + 10.76rem, 31.25rem);
                }

                p {
                    line-height  : 130%;
                    width        : clamp(17.5rem, 28.758vw + 10.76rem, 31.25rem);
                    margin-bottom: clamp(1.25rem, 0.784vw + 1.066rem, 1.625rem);
                }

                .btn__short {
                    display: none;
                }
            }

            img {
                position: absolute;
                right   : 0;
            }
        }
    }
}


.studies {
    @include flex-center;
    margin-bottom: clamp(3.125rem, 11.765vw + 0.368rem, 8.75rem);

    .studies__wrapper {
        width: $mainWrapper-width-web;

        .studies__title {
            @include title-layout;
        }

        .studies__examples {
            display         : flex;
            padding         : 70px;
            background-color: $brandColor-Black;
            border-radius   : 45px;
            transition      : .3s;

            .studies__example {
                padding       : 0 64px;
                border-right  : 1px solid rgba(255, 255, 255, 0.5);
                display       : flex;
                flex-direction: column;
                box-sizing    : border-box;

                p {
                    width        : 286px;
                    color        : white;
                    font-size    : 18px;
                    margin-bottom: 26px;
                    line-height  : 140%;
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    border-right : none;
                    padding-right: 0;
                }

                div {
                    margin-top : auto;
                    display    : flex;
                    align-items: center;

                    a {
                        color          : $brandColor-Green;
                        text-decoration: none;
                        margin-right   : 16px;
                    }

                    &:hover {
                        opacity: 0.7;
                        cursor : pointer;
                    }
                }
            }
        }
    }
}


.process {
    @include flex-center;

    .process__wrapper {
        width: $mainWrapper-width-web;

        .process__title {
            @include title-layout;

            h2 {

                white-space: nowrap;
            }

            p {
                width: 292px;
            }
        }

        .process__cards {
            display              : grid;
            grid-template-columns: 1fr;
            gap                  : 30px;

            .process__card {
                background-color: $brandColor-LightGrey;
                border          : $brandColor-Black solid 2px;
                border-radius   : 45px;
                box-shadow      : 0px 4px 0px 0px $brandColor-Black;
                padding         : 40px 60px;
                transition      : .3s;

                &:has(input:checked) {
                    background-color: $brandColor-Green;

                    p {
                        display: block;
                    }

                    &:hover {

                        h1,
                        h3 {
                            color: $brandColor-Black;
                        }
                    }
                }

                .process__title__card {
                    display    : flex;
                    align-items: center;
                    position   : relative;

                    h1 {
                        margin-right: 20px;
                    }

                    h3 {
                        white-space: nowrap;
                    }

                    .checkbox__card {
                        margin-left: auto;
                        width      : clamp(1.875rem, 3.66vw + 1.017rem, 3.625rem);
                        height     : clamp(1.875rem, 3.66vw + 1.017rem, 3.625rem);
                        z-index    : 10;
                        opacity    : 0;
                        cursor     : pointer;

                        &:checked+.card__open {

                            &::after {
                                transform: rotate(0deg);
                            }
                        }
                    }

                    .card__open {
                        width           : clamp(1.875rem, 3.66vw + 1.017rem, 3.625rem);
                        height          : clamp(1.875rem, 3.66vw + 1.017rem, 3.625rem);
                        background-color: white;
                        border-radius   : 29px;
                        border          : 1px solid $brandColor-Black;
                        position        : absolute;
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        margin-right    : 2px;
                        right           : 0;

                        &::before {
                            content         : '';
                            position        : absolute;
                            width           : clamp(0.75rem, 1.307vw + 0.444rem, 1.375rem);
                            height          : clamp(0.188rem, 0.261vw + 0.126rem, 0.313rem);
                            background-color: $brandColor-Black;
                        }

                        &::after {
                            content         : '';
                            position        : absolute;
                            width           : clamp(0.75rem, 1.307vw + 0.444rem, 1.375rem);
                            height          : clamp(0.188rem, 0.261vw + 0.126rem, 0.313rem);
                            background-color: $brandColor-Black;
                            transform       : rotate(90deg);
                            transition      : .3s;
                        }
                    }
                }

                p {
                    display    : none;
                    padding-top: 30px;
                    margin-top : 20px;
                    border-top : 2px solid $brandColor-Black;
                }

                &:hover {
                    background-color: $brandColor-DarkGrey;

                    h1,
                    h3 {
                        color: white;
                    }
                }
            }
        }
    }
}


.team {
    @include flex-center;
    margin-bottom: clamp(3.125rem, 6.536vw + 1.593rem, 6.25rem);

    .team__wrapper {
        display   : grid;
        width     : $mainWrapper-width-web;
        margin-top: clamp(3.125rem, 11.765vw + 0.368rem, 8.75rem);

        .team__title {
            @include title-layout;
        }

        .team__cards {
            display              : grid;
            grid-template-columns: repeat(3, 1fr);
            gap                  : 40px;
            margin-bottom        : 40px;

            .team__card {
                border-radius: 45px;
                border       : 1px solid $brandColor-Black;
                padding      : 35px 40px;
                box-shadow   : 0px 4px 0px 0px $brandColor-Black;
                transition   : .3s;
                cursor       : pointer;

                &:hover {
                    background-color: $brandColor-Green;
                    scale           : 0.98;
                }

                .team__card__title {
                    display       : flex;
                    position      : relative;
                    padding-bottom: 28px;
                    margin-bottom : 28px;
                    border-bottom : 1px solid $brandColor-Black;

                    .team__avatar {
                        width              : 102px;
                        height             : 102px;
                        background-repeat  : no-repeat;
                        background-position: center;
                        margin-right       : 20px;
                    }

                    img {
                        position: absolute;
                        right   : 0;
                        top     : 0;
                    }

                    .team__title__wrapper {
                        margin-top: auto;

                        h4 {
                            margin-bottom: 4px;
                            white-space  : nowrap;
                        }

                        .title__position {
                            white-space: nowrap;
                        }
                    }

                    .profile01 {
                        background-image: url(/positivus/img/avatar_01.png);
                    }

                    .profile02 {
                        background-image: url(/positivus/img/avatar_02.png);
                    }

                    .profile03 {
                        background-image: url(/positivus/img/avatar_03.png);
                    }

                    .profile04 {
                        background-image: url(/positivus/img/avatar_04.png);
                    }

                    .profile05 {
                        background-image: url(/positivus/img/avatar_05.png);
                    }

                    .profile06 {
                        background-image: url(/positivus/img/avatar_06.png);
                    }
                }
            }
        }

        button {
            justify-self: end;
        }
    }
}


.testimonials {
    @include flex-center;
    margin-bottom: clamp(3.125rem, 11.765vw + 0.368rem, 8.75rem);

    .testimonials__wrapper {
        width   : $mainWrapper-width-web;
        overflow: hidden;

        .testimonials__title {
            @include title-layout;
        }

        .testimonials__window {
            width           : 100%;
            height          : clamp(36.25rem, 5.882vw + 34.871rem, 39.063rem);
            display         : flex;
            flex-direction  : column;
            background-color: $brandColor-Black;
            border-radius   : 45px;
            padding-top     : clamp(1.625rem, 7.582vw - 0.152rem, 5.25rem);
            box-sizing      : border-box;
            overflow        : hidden;

            .testimonials__slider {
                width          : 100%;
                display        : flex;
                justify-content: center;
                gap            : 50px;
                box-sizing     : border-box;

                .testimonial__item {

                    .testimonial__item__wrapper {
                        justify-content: center;

                        .testimonial__descr {
                            border       : solid $brandColor-Green 1px;
                            padding      : clamp(2.375rem, 1.83vw + 1.946rem, 3.25rem) clamp(1.563rem, 3.007vw + 0.858rem, 3rem);
                            border-radius: 45px;

                            p {
                                color      : white;
                                font-size  : clamp(0.9375rem, 0.8456rem + 0.3922vw, 1.125rem);
                                width      : clamp(14.375rem, 43.66vw + 4.142rem, 35.25rem);
                                line-height: 134%;
                            }
                        }
                    }

                    .tooltip {
                        width          : 0;
                        height         : 0;
                        border         : 34px solid transparent;
                        border-top     : 32px solid $brandColor-Green;
                        margin-left    : 50px;
                        position       : relative;
                        display        : flex;
                        justify-content: center;
                        align-items    : center;

                        &::before {
                            content   : '';
                            position  : absolute;
                            width     : 0;
                            height    : 0;
                            border    : 34px solid transparent;
                            border-top: 32px solid $brandColor-Black;
                            transform : translateY(-1px);
                        }
                    }

                    h4 {
                        color      : $brandColor-Green;
                        margin-left: 80px;
                        transform  : translateY(-5px);
                    }

                    .profile__position {
                        color      : white;
                        margin-left: 80px;
                    }
                }
            }

            .navigation__slider__wrapper {
                margin         : 0 auto;
                margin-top     : auto;
                margin-bottom  : clamp(3.125rem, 2.353vw + 2.574rem, 4.25rem);
                width          : clamp(16.875rem, 38.431vw + 7.868rem, 35.25rem);
                height         : 24px;
                display        : flex;
                justify-content: space-between;

                .btn__previous {
                    background     : url(/positivus/img/slider-nav-arrow.svg) no-repeat center;
                    background-size: contain;
                    width          : 24px;
                    transform      : rotate(180deg);
                }

                .navigation__slider__position {
                    display        : flex;
                    justify-content: space-between;
                    gap            : 20px;

                    .item__slider__position {
                        background     : url(/positivus/img/slider-item.svg) no-repeat center;
                        background-size: contain;
                        width          : 14px;

                        &:hover {
                            opacity: 0.7;
                            cursor : pointer;
                            scale  : 0.9;

                            &:nth-child(1) {
                                opacity: 1;
                                cursor : default;
                                scale  : 1;
                            }
                        }
                    }

                    .position--selected {
                        background: url(/positivus/img/slider-item-selected.svg) no-repeat center;
                    }
                }

                .btn__next {
                    background     : url(/positivus/img/slider-nav-arrow.svg) no-repeat center;
                    background-size: contain;
                    width          : 24px;

                    &:hover {
                        opacity: 0.8;
                        cursor : pointer;
                        scale  : 0.9;
                    }
                }

                .position--min-max {
                    opacity: 0.3;
                }
            }
        }
    }
}


.contact {
    @include flex-center;
    margin-bottom: clamp(3.125rem, 11.765vw + 0.368rem, 8.75rem);

    .contact__wrapper {
        width: $mainWrapper-width-web;

        .contact__title {
            @include title-layout;
        }

        .contact__form {
            background-color   : $brandColor-LightGrey;
            border-radius      : 45px;
            background-image   : url(/positivus/img/Illustration_02.svg);
            background-repeat  : no-repeat;
            background-position: right;
            transition         : .3s;

            form {
                display       : flex;
                flex-direction: column;
                width         : clamp(18.438rem, 34.118vw + 10.441rem, 34.75rem);

                .form__main_wrapper {
                    display       : flex;
                    flex-direction: column;
                    width         : clamp(18.438rem, 34.118vw + 10.441rem, 34.75rem);
                    padding       : clamp(2.5rem, 2.614vw + 1.887rem, 3.75rem) clamp(1.25rem, 10.458vw - 1.201rem, 6.25rem);

                    .form__radio__wrapper {
                        display      : flex;
                        gap          : 34px;
                        margin-bottom: 40px;

                        .radio__button {
                            display    : flex;
                            align-items: center;

                            .radio {
                                width           : 28px;
                                height          : 28px;
                                appearance      : none;
                                background-color: #fff;
                                border-radius   : 50%;
                                margin          : 0;
                                font            : inherit;
                                color           : currentColor;
                                border          : 1px solid $brandColor-Black;
                                display         : grid;
                                place-content   : center;

                                &::before {
                                    content         : "";
                                    width           : 16px;
                                    height          : 16px;
                                    border-radius   : 50%;
                                    background-color: $brandColor-Green;
                                    transform       : scale(0);
                                    transition      : 160ms transform ease-in-out;
                                }

                                &:checked::before {
                                    transform: scale(1);
                                }
                            }

                            label {
                                font-size  : clamp(0.9375rem, 0.8456rem + 0.3922vw, 1.125rem);
                                margin-left: 14px;
                            }
                        }
                    }

                    .form__title {
                        margin-bottom: 8px;
                        font-size    : clamp(0.875rem, 0.8137rem + 0.2614vw, 1rem);
                    }

                    .form__text__input {
                        height       : 60px;
                        border-radius: 14px;
                        border       : 1px solid $brandColor-Black;
                        margin-bottom: 24px;
                        padding-left : clamp(1rem, 1.83vw + 0.571rem, 1.875rem);
                        font-size    : clamp(1rem, 0.9387rem + 0.2614vw, 1.125rem);
                        box-sizing   : border-box;
                        font-family  : $brandFont-R;

                        &::placeholder {
                            color: rgb(137, 137, 137);
                        }
                    }

                    textarea {
                        resize       : none;
                        height       : clamp(8.125rem, 7.843vw + 6.287rem, 11.875rem);
                        border-radius: 14px;
                        border       : 1px solid $brandColor-Black;
                        margin-bottom: 40px;
                        padding      : 18px clamp(1rem, 1.83vw + 0.571rem, 1.875rem);
                        font-size    : clamp(1rem, 0.9387rem + 0.2614vw, 1.125rem);
                        font-family  : $brandFont-R;
                    }
                }

                button {
                    margin-left  : clamp(1.25rem, 10.458vw - 1.201rem, 6.25rem);
                    margin-bottom: clamp(2.5rem, 2.614vw + 1.887rem, 3.75rem);
                    width        : clamp(18.438rem, 34.118vw + 10.441rem, 34.75rem);
                }
            }
        }
    }
}


footer {
    display        : flex;
    justify-content: center;

    .footer__wrapper {
        width                  : $mainWrapper-width-web;
        background-color       : $brandColor-Black;
        border-top-left-radius : 45px;
        border-top-right-radius: 45px;
        padding                : 55px 60px;
        padding-bottom         : 0;
        box-sizing             : border-box;

        .footer {
            color     : white;
            box-sizing: border-box;

            .footer__header {
                width          : 100%;
                display        : flex;
                justify-content: space-between;
                align-items    : center;

                .footer__logo {
                    background-image   : url(/positivus/img/brand_logo_white.svg);
                    background-repeat  : no-repeat;
                    background-position: center;
                    width              : 180px;
                    height             : 29px;
                }

                .footer__menu {
                    display   : flex;
                    column-gap: clamp(1.25rem, 10vw - 4.625rem, 2.5rem);

                    li {
                        a {
                            font-size      : 18px;
                            color          : white;
                            text-decoration: underline;
                            transition     : .3s;

                            &:hover {
                                text-decoration: none;
                                opacity        : 0.8;
                            }
                        }
                    }
                }

                .footer__wrapper__socials {
                    display: flex;
                    gap    : 20px;


                    .social__portal {
                        width              : 30px;
                        height             : 30px;
                        background-repeat  : no-repeat;
                        background-position: center;
                        transition         : .3s;
                        cursor             : pointer;

                        &:hover {
                            opacity: 0.8;
                        }
                    }

                    .linkedin {
                        background-image: url(/positivus/img/linkedin_social_icon.svg);
                    }

                    .facebook {
                        background-image: url(/positivus/img/facebook_social_icon.svg);
                    }

                    .twiter {
                        background-image: url(/positivus/img/twiter_social_icon.svg);
                    }
                }
            }

            .footer__main {
                display        : flex;
                justify-content: space-between;
                box-sizing     : border-box;
                padding-bottom : 50px;
                margin-top     : 66px;
                border-bottom  : 1px solid white;

                .footer__contact__descr {
                    margin-right: 40px;

                    h4 {
                        display         : inline-block;
                        padding         : 4px 8px;
                        border-radius   : 8px;
                        color           : $brandColor-Black;
                        background-color: $brandColor-Green;
                        margin-bottom   : 28px;
                    }

                    p {
                        margin-bottom: 20px;
                        font-size    : 18px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                form {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    gap             : 20px;
                    background-color: $brandColor-DarkGrey;
                    padding         : 0 40px;
                    border-radius   : 14px;

                    input,
                    button {
                        justify-self: flex-start;
                    }

                    input {
                        width           : 285px;
                        height          : 64px;
                        border-radius   : 14px;
                        background-color: transparent;
                        border          : 1px solid white;
                        padding-left    : 30px;
                        font-size       : 18px;
                        font-family     : $brandFont-R;
                        color           : white;
                        box-sizing      : border-box;
                        animation       : pulse 3s infinite;

                        @keyframes pulse {

                            0% {
                                border : 1px solid rgba(255, 255, 255, 0.2);
                                outline: 1px solid transparent;
                            }

                            50% {
                                border : 2px solid white;
                                outline: 1px solid white;
                            }

                            100% {
                                border : 1px solid rgba(255, 255, 255, 0.2);
                                outline: 1px solid transparent;
                            }
                        }

                        &::placeholder {
                            color: white;
                        }

                        &:focus {
                            color    : $brandColor-Green;
                            animation: none;
                        }

                    }

                    button {
                        padding         : 20px 35px;
                        background-color: $brandColor-Green;
                        color           : $brandColor-Black;

                        &:hover {
                            background-color: $brandColor-Black;
                            border          : 1px solid $brandColor-Green;
                        }
                    }
                }
            }
        }

        .footer__rights {
            display: flex;
            gap    : 40px;
            padding: 50px 0;
            color  : white;

            p {
                font-size: 18px;
            }

            a {
                font-size      : 18px;
                text-decoration: underline;
                cursor         : pointer;

                &:hover {
                    text-decoration: none;
                    opacity        : 0.8;
                }
            }
        }
    }
}


//---------------------------------------------




@media (max-width: 1274px) {

    header {

        .header__wrapper {
            @include mobile-wrapper;
        }
    }

    .brand__message {
        .brand__message__wrapper {
            @include mobile-wrapper;
        }
    }

    .services {
        .services__wrapper {
            @include mobile-wrapper;
        }
    }

    .studies {
        .studies__wrapper {
            width   : $mainWrapper-width-mobile;
            overflow: hidden;

            .studies__title {
                padding-left: 20px;
            }

            .studies__examples {
                background-color: transparent;
                border-radius   : 0;
                gap             : clamp(1.25rem, 3.922vw + 0.331rem, 3.125rem);
                padding         : clamp(0rem, 9.15vw - 2.145rem, 4.375rem);
                padding-left    : 20px;

                .studies__example {
                    background-color: $brandColor-Black;
                    border          : none;
                    padding         : 40px 40px;
                    border-radius   : 45px;

                    p {
                        width    : clamp(15.625rem, 4.706vw + 14.522rem, 17.875rem);
                        font-size: clamp(0.9375rem, 0.8456rem + 0.3922vw, 1.125rem);
                    }

                    &:first-child {
                        padding-left: 40px;
                    }

                    &:last-child {
                        padding-right: 40px;
                    }
                }
            }
        }
    }

    .process {
        .process__wrapper {
            @include mobile-wrapper;

            .process__cards {
                .process__card {
                    padding: clamp(1.875rem, 1.307vw + 1.569rem, 2.5rem) clamp(1.875rem, 3.922vw + 0.956rem, 3.75rem);

                    .process__title__card {
                        h1 {
                            margin-right: clamp(2.125rem, -1.83vw + 2.554rem, 1.25rem);
                            font-size   : clamp(1.875rem, 0.9559rem + 3.9216vw, 3.75rem);
                        }

                        h3 {
                            width      : clamp(17.375rem, 46.013vw, 39.375rem);
                            font-size  : clamp(1.125rem, 0.7574rem + 1.5686vw, 1.875rem);
                            white-space: wrap;
                            line-height: 140%;
                        }
                    }
                }
            }
        }
    }

    .team {
        .team__wrapper {
            @include mobile-wrapper;

            .team__cards {
                gap: 20px;

            }
        }
    }

    .testimonials {
        .testimonials__wrapper {
            @include mobile-wrapper;
        }
    }

    .contact {
        .contact__wrapper {
            @include mobile-wrapper;
        }
    }
}

//---------------------------------------------

@media (max-width: 1234px) {

    footer {
        width           : 100%;
        background-color: $brandColor-Black;

        .footer__wrapper {
            width        : 100%;
            border-radius: 0;
        }
    }
}

//---------------------------------------------

@media(max-width: 1168px) {

    .team {
        .team__wrapper {
            .team__cards {
                grid-template-columns: repeat(2, 1fr);
            }

            button {
                width: 100%;
            }
        }
    }

    footer {

        .footer__wrapper {
            .footer {
                .footer__main {
                    form {
                        flex-direction: column;
                        width         : clamp(25rem, 46.296vw - 1.736rem, 31.25rem);

                        input {
                            width: 100%;
                        }

                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

//---------------------------------------------

@media(max-width: 1140px) {

    header {
        .header__wrapper {
            img {
                width: clamp(9rem, 4.903vw + 7.866rem, 13.75rem);
            }

            nav {
                .header__menu {
                    display: none;
                }

                .toggle__menu {
                    display: block;
                }
            }
        }
    }

    .services {
        .services__wrapper {
            .services__proposal {
                img {
                    width: clamp(12.5rem, 18.51vw + 8.162rem, 22.438rem);

                }
            }
        }
    }
}

//---------------------------------------------

@media(max-width: 920px) {

    .brand__message {
        .brand__message__wrapper {
            .brand__message__descr {
                display       : flex;
                flex-direction: column;

                img {
                    position   : unset;
                    width      : clamp(18.75rem, 55.046vw + 5.849rem, 37.5rem);
                    margin-left: auto;
                }
            }
        }
    }

    .partners {
        .partners__wrapper {

            .marquee_01,
            .marquee_02 {
                img {
                    scale: 0.9;
                }
            }

            .marquee_02 {
                display: block;
                opacity: 0.3;
            }
        }
    }

    .services {
        .services__wrapper {
            .services__title {
                @include title-layout-mobile;
            }

            .services__cards__wrapper {
                grid-template-columns: 1fr;
            }
        }
    }

    .studies {
        .studies__wrapper {
            .studies__title {
                @include title-layout-mobile;
            }
        }
    }

    .process {
        .process__wrapper {
            .process__title {
                @include title-layout-mobile-span;
            }
        }
    }

    .team {
        .team__wrapper {
            .team__title {
                @include title-layout-mobile;
            }
        }
    }

    .testimonials {
        .testimonials__wrapper {
            .testimonials__title {
                @include title-layout-mobile;
            }
        }
    }

    .contact {
        .contact__wrapper {
            .contact__title {
                @include title-layout-mobile;
            }
        }
    }

    footer {
        .footer__wrapper {
            .footer {
                position: relative;

                .footer__header {
                    .footer__wrapper__socials {
                        position     : absolute;
                        bottom       : 0;
                        left         : 50%;
                        transform    : translateX(-50%);
                        margin-bottom: 38px;
                    }
                }

                .footer__main {
                    padding-bottom: 100px;
                }
            }
        }
    }
}

//---------------------------------------------

@media(max-width: 790px) {

    .team {
        .team__wrapper {
            @include mobile-wrapper;

            .team__cards {
                grid-template-columns: 1fr;

                .team__card {
                    padding: clamp(1.625rem, 2.169vw + 1.117rem, 2.188rem) clamp(1.625rem, 3.373vw + 0.834rem, 2.5rem);
                }
            }
        }
    }
}

//---------------------------------------------

@media(max-width: 768px) {

    header {
        .header__wrapper {
            nav {
                .toggle__menu {
                    .burger {
                        scale: 0.85;
                    }
                }
            }
        }
    }

    .services {
        .services__wrapper {
            .services__cards__wrapper {
                .services__card {
                    background-size    : 150px;
                    background-position: 80% 72%;
                }
            }

            .services__proposal {
                .services__proposal__title {
                    width: 100%;

                    h3{
                        text-align: center;
                    }

                    p{
                        text-align: center;
                    }

                    button {
                        width: 100%;
                    }
                }

                img {
                    display: none;
                }
            }
        }
    }

    .team {
        .team__wrapper {
            .team__cards {
                .team__card {
                    &:nth-child(5) {
                        display: none;
                    }

                    &:nth-child(6) {
                        display: none;
                    }
                }
            }
        }
    }

    footer {
        .footer__wrapper {
            padding-left : 20px;
            padding-right: 20px;

            .footer {
                .footer__header {
                    flex-direction : column;
                    justify-content: center;

                    .footer__logo {
                        margin-bottom: 38px;
                    }

                    .footer__menu {
                        flex-direction: column;
                        row-gap       : 22px;

                        li {
                            text-align: center;

                            a {
                                text-decoration: none;
                            }
                        }
                    }
                }

                .footer__main {
                    flex-direction: column;
                    margin-top    : 38px;

                    .footer__contact__descr {
                        justify-content: center;
                        margin         : 0;
                        margin-bottom  : 38px;
                        text-align     : center;

                        p {
                            margin-bottom: 16px;
                        }
                    }

                    form {
                        width     : 100%;
                        padding   : 30px;
                        box-sizing: border-box;

                        input {
                            font-size   : 16px;
                            width       : 100%;
                            padding-left: 20px;
                        }

                        button {
                            width: 100%;
                        }
                    }
                }
            }

            .footer__rights {
                flex-direction: column;
                text-align    : center;
                gap           : 16px;
                padding-top   : 38px;
                padding-bottom: 30px;

                p {
                    font-size: 16px;
                }

                a {
                    font-size      : 16px;
                    text-decoration: none;
                }
            }
        }
    }
}

//---------------------------------------------

@media(max-width: 528px) {

    .services {
        .services__wrapper {
            .services__cards__wrapper {
                .services__card {
                    div {
                        a {
                            display: none;
                        }
                    }
                }
            }

            .services__proposal {
                display: flex;

                .services__proposal__title {
                    .btn__long {
                        display: none;
                    }

                    .btn__short {
                        display: block;
                    }
                }
            }
        }
    }

    .process {
        .process__wrapper {
            .process__cards {
                .process__card {
                    .process__title__card {

                        h1 {
                            margin-right: 14px;
                        }

                        h3 {
                            font-size: 17px;
                            width    : 210px;
                        }
                    }
                }
            }
        }
    }

    .contact {
        .contact__wrapper {
            .contact__form {
                width           : 100%;
                background-image: none;
                display         : flex;
                justify-content : center;
                background-color: transparent;
                border-radius   : 0;

                form {
                    width: 100%;

                    .form__main_wrapper {
                        background-color: $brandColor-LightGrey;
                        border-radius   : 45px;
                        width           : 100%;
                        padding         : clamp(2.5rem, 2.614vw + 1.887rem, 3.75rem) 20px;
                        box-sizing      : border-box;

                        .form__radio__wrapper {
                            justify-content: center;
                        }

                        textarea {
                            margin-bottom: 10px;
                        }
                    }

                    button {
                        margin-top   : 30px;
                        margin-left  : 0;
                        margin-bottom: 0;
                        width        : auto;
                    }
                }
            }
        }
    }
}

//---------------------------------------------

@media(max-width: 425px) {

    header {
        .header__wrapper {
            nav {
                .toggle__menu {
                    .burger {
                        scale: 0.7;
                    }
                }
            }
        }
    }

    .brand__message {
        .brand__message__wrapper {
            .brand__message__descr {
                img {
                    width        : 100%;
                    margin       : 0;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .partners {
        .partners__wrapper {

            .marquee_01,
            .marquee_02 {
                img {
                    scale: 0.7;
                }
            }
        }
    }

    .studies {
        .studies__wrapper {
            .studies__examples {
                gap: 14px;
            }
        }
    }

    .process {
        .process__wrapper {
            .process__cards {
                .process__card {
                    .process__title__card {

                        h1 {
                            margin-right: 10px;
                            font-size   : 28px;
                        }

                        h3 {
                            font-size  : 17px;
                            width      : 180px;
                            font-size  : 15px;
                            line-height: 120%;
                        }
                    }
                }
            }
        }
    }
}