@font-face {
    font-family: 'Space Gratesk L';
    src: url('/fonts/SpaceGrotesk-Light.ttf');
}

@font-face {
    font-family: 'Space Gratesk R';
    src: url('/fonts/SpaceGrotesk-Regular.ttf');
}

@font-face {
    font-family: 'Space Gratesk M';
    src: url('/fonts/SpaceGrotesk-Medium.ttf');
}

@font-face {
    font-family: 'Space Gratesk SB';
    src: url('/fonts/SpaceGrotesk-SemiBold.ttf');
}

@font-face {
    font-family: 'Space Gratesk B';
    src: url('/fonts/SpaceGrotesk-Bold.ttf');
}


:root {

    --brandFont-L: 'Space Gratesk L';
    --brandFont-R: 'Space Gratesk R';
    --brandFont-M: 'Space Gratesk M';

    --brandColor-Black: rgb(25, 26, 35);
    --brandColor-Black--hover: rgb(25, 26, 35);
    --brandColor-DarkGrey: rgb(41, 42, 50);
    --brandColor-LightGrey: rgb(243, 243, 243);
    --brandColor-Green: rgb(185, 255, 102);

    --mainWrapper-width: 1234px;


}






h1 {
    font-size: 60px;
    font-family: var(--brandFont-M);
    line-height: 76px;
}

h2 {
    font-size: 40px;
    font-family: var(--brandFont-M);
}

h3 {
    font-size: 30px;
    font-family: var(--brandFont-M);
}

h4 {
    font-size: 20px;
    font-family: var(--brandFont-M);
}

p {
    font-size: 18px;
}

body {
    font-family: var(--brandFont-R);
    font-size: 20px;
}

button {
    padding: 20px 76px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 14px;
    background-color: var(--brandColor-Black);
}

button:hover {
    background-color: var(--brandColor-DarkGrey);
}

header {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__wrapper {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--mainWrapper-width);
}

.header__menu {
    display: flex;
    align-items: baseline;
    gap: 40px;
}

.header__menu a {
    text-decoration: none;
    color: var(--brandColor-Black);
}

.header__menu li:hover {
    background-color: var(--brandColor-Green);

}

.header__menu li:last-child {
    padding: 20px 35px;
    border: 2px solid var(--brandColor-Black);
    border-radius: 14px;
    cursor: pointer;
}

.header__menu li:last-child:hover {
    background-color: white;
}

.brand__message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.brand__message__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: var(--mainWrapper-width);
}

.brand__message h1 {
    width: 532px;
    margin-bottom: 36px;
}

.hello__Illustration__01 {
    display: none;
}

.brand__message section {
    width: 498px;
    line-height: 30px;
    margin-bottom: 36px;
}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--mainWrapper-width);
}

.partners__wrapper img {
    filter: grayscale(1);

}







@media (max-width: 1234px) {

    :root {
        --mainWrapper-width: 100%;
    }

    header {
        padding-left: 20px;
        padding-right: 20px;
    }

    main {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
    }

    .partners__wrapper {
        /* display: none; */
        gap: 32px;
        overflow: hidden;
        position: absolute;
        margin-top: 60px;
    }
}


@media (max-width: 1184px) {

    .header__menu {
        display: none;
    }

    .hello__Illustration__01 {
        display: block;
        width: 80%;
    }

    .hello__Illustration__02 {
        display: none;
    }

    .brand__message h1 {
        width: 90%;
    }
}

@media (max-width: 808px) {

    header{
        margin-top: 10px;
    }

    .header__wrapper img{
        width: 38%;
    }

    .hello__Illustration__01 {
        width: 100%;
    }
}

@media (max-width: 767px) {

    h1 {
        font-size: 40px;
        line-height: 58px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    body {
        font-size: 18px;
    }

    .brand__message {
        padding: 50px 0;
    }

    .brand__message__descr section{
        margin-top: 20px;
        width: 100%;
        font-size: 17px;
        line-height: 24px;
    }

    .brand__message {
        padding: 30px 0;
    }

    .brand__message__wrapper{
        justify-content: center;
    }

    .brand__message__descr{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 432px){
    body{
        width: 430px;
    }
}